@page
@model WebAppCZN.Pages.Zaya.IndexModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@using System.Security.Claims
@using Microsoft.EntityFrameworkCore
@using WebAppCZN.Data.BD
@inject WebAppCZN.Data.ApplicationDbContext _context
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Заявления</h1>
@if (SignInManager.IsSignedIn(User))
{

    var userID = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var user = await _context.Пользователи.FirstOrDefaultAsync(m => m.ID_пользователя == userID);
    int? userRole = user?.Роль;
    if (userRole == 3)
    {
        <h2>Доступ запрещен</h2>
    }
    else
    {
        if (userRole != 4)
        {
            <p>
                <a asp-page="Create">Добавить</a>
            </p>
        }
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Заявление[0].Дата_подачи)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Заявление[0].Признание_безработным)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Заявление[0].Результат_подачи)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Заявление[0].Комментарий)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Заявление[0].Личные_данные)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Заявление) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Дата_подачи)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Признание_безработным)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Результат_подачи)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Комментарий)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Личные_данные.ID_личных_данных)
            </td>
            <td>
                            @if (userRole != 4)
                            {
                            <a asp-page="./Edit" asp-route-id="@item.ID_заявления">Изменить</a>
                            }
                

            </td>
        </tr>
}
    </tbody>
</table>
    }
}
else
{
    await SignInManager.SignOutAsync(); // Sign out any potential residual user
    Response.Redirect("/Identity/Account/Login"); // Redirect to the login page
    return;
}