@page
@model WebAppCZN.Pages.Sv_lm.IndexModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@using System.Security.Claims
@using Microsoft.EntityFrameworkCore
@using WebAppCZN.Data.BD
@inject WebAppCZN.Data.ApplicationDbContext _context

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Сведения о послежнем мете работы</h1>

@if (SignInManager.IsSignedIn(User))
{

    var userID = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var user = await _context.Пользователи.FirstOrDefaultAsync(m => m.ID_пользователя == userID);
    int? userRole = user?.Роль;

    if (userRole == 3||userRole == 4)
    {
        <h2>Доступ запрещен</h2>
    }
    else
    {
        <p>
            <a asp-page="Create">Добавить</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Сведения_о_последнем_месте_работы[0].Номер_приказа_об_увольнении)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Сведения_о_последнем_месте_работы[0].Наименование_организации)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Сведения_о_последнем_месте_работы[0].Дата_начала_работы)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Сведения_о_последнем_месте_работы[0].Дата_увольнения)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Сведения_о_последнем_месте_работы[0].Основание_увольнения)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Сведения_о_последнем_месте_работы[0].Заявление)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Сведения_о_последнем_месте_работы)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Номер_приказа_об_увольнении)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Наименование_организации)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Дата_начала_работы)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Дата_увольнения)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Основание_увольнения.ID_основания_увольнения)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Заявление.ID_заявления)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.ID_сведения">Изменить</a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
else
{
    await SignInManager.SignOutAsync(); // Sign out any potential residual user
    Response.Redirect("/Identity/Account/Login"); // Redirect to the login page
    return;
}
