@page
@model WebAppCZN.Pages.Opyt.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Опыт_работы[0].Организация)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Опыт_работы[0].Должность)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Опыт_работы[0].Дата_начала_работы)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Опыт_работы[0].Дата_окончания)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Опыт_работы[0].Обязанности)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Опыт_работы[0].Флаг_удаления)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Опыт_работы[0].Резюме)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Опыт_работы) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Организация)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Должность)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Дата_начала_работы)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Дата_окончания)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Обязанности)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Флаг_удаления)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Резюме.Адрес_места_жительства)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID_опыта_работы">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID_опыта_работы">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID_опыта_работы">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
